/* || GENERAL STYLES */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: var(--fs-100);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

span {
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

li {
    display: inline-block;
    list-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
}

input {
    outline: none;
}

textarea {
  overflow: auto;
  outline: none;
}